*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.main{
	height: 350vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url('../Image/space1.jpeg');
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	position: relative;
}


.top-bar{
	text-align: center;
	height:32vh;
}
.logo img{
	width:20%;
	margin-top: 2%;

}
.moto{
	font-family: Prestige Elite Std;
	color:white;
	color:rgba(255,255,255,0.7);
	font-size: 100%;
	margin-bottom:2%;
}
.links{
	background:linear-gradient(to right,rgba(255,255,255,0.1),rgba(0,0,0,0.4),rgba(255,255,255,0.1));
}
.links ul{
	display:inline;
}

.links ul li{
	display:inline-flex;
	list-style:none;
}

.links ul li a{
	text-decoration: none;
	font-family:Tw Cen MT;
	color:rgba(250,252,254,0.9);
	font-size:120%;
	padding:15px 35px;
	transition: 1s;
}

#tab:hover{
	border:1px solid;
	border-color:rgba(255,255,255,0.6);
	border-top:rgba(255,255,255,0);
	border-left:rgba(255,255,255,0.5);
	border-right:rgba(255,255,255,0.5);
	transition: .4s;
	background-color: rgba(255,255,255,0.1);
	transform: scale(1.1);
}
.active{
	font-weight: bold;
	transform:scale(1);
}

.fa fa-bars{
	display:none;
}
.top-bar .fa{
	display:none;
}

.head{
	margin-top:4%;
	text-align: center;
	color:rgba(255,255,255,1);
	height:20vh;
}

.head h1{
	font-family: Candara;
	font-size:250%;
	text-transform: uppercase;
}
.head h1 span{
	color:#cd7f32;
}

.head p{
	margin-top:2px;
	font-family: Orator Std;
	color:rgb(220,220,255);
	font-size:150%;
	font-weight: bold;
}


.content{
	height: 250vh;
	text-align:center;
}

model-viewer{
	margin-bottom:2%;
	width: 80%;
	height:45%;
	margin-left:10%;
	text-align:center;
}
.content h1{
	color:rgba(255,250,253,1);
	font-family:Candara;

}
.margin{
	margin:5px 0px;
	margin-bottom:2%;
}

.hr1{
	margin-top:20px;
}


.bottom{
	margin-top:10%;
	height:42vh;
	background-color:rgba(0,0,0,1);
}


.society{
	margin-top:7vh; 
	width:18%;
}
.social{
	color:white;
	font-family:Century Gothic;
	text-align: center;
	margin-top:1.5%;
}
.bottom .social p{
	text-align:center;
	padding-bottom:1%;
	font-weight: bold;
	font-size: 105%;
}
.bottom .social i{
	border:1px solid;
	border-radius:100%;
	padding:0.95% 1%;
}
.social a{
	text-align: center;
	color: white;
	text-decoration:none;
	margin-right: 0.5%;
	font-family: Century Gothic;
	font-size: 98%;
}

.social a i:hover{
	background-color:white;
	color:black;
}

.bottom p{
	font-family:Arial;
	color:white;
	text-align: center;
	margin-top: 1%;
	font-size:75%;

}



@media screen and (max-width:425px){
	.main{
		height:185vh;
	}
	.logo img{
		width:55%;
		margin-top: 7%;
	}
	#tab:hover{
		transform: none;
	}
	.fa-bars{
		position: absolute;
		right:20px;
		top:10px;
	}
	.fa-close{
		text-align: left;
		padding-top:10px;
		padding-left:10px;
	}
	.top-bar .fa{
		display:block;
		color:#fff;
		margin:10px 15px;
		font-size: 22px;
		cursor:pointer;
	}
	.moto{
		font-size: 112%;
		margin-bottom:6%;
	}
	.links ul li a{
		padding:15px 50px;
	}


	.links{
		opacity: .95;
		font-size:145%;
		height:45vh;
		width:100%;
		background:#000;
		top:-45vh;
		position: absolute;
		z-index: 2;
		transition: 0.6s;
		background-attachment: fixed;
		padding:5px 35px;
		transition: 1s;
	}

	.top-bar{
		height:23vh;
	}
	.head{
		text-align:center;
		height:18vh;
	}
	.content{
		height: 115vh;
	}

	model-viewer{
		margin-bottom:2%;
		width: 80%;
		height:40%;
		margin-left:11%;
		text-align:center;
	}
	.content h1{
		font-size:130%;
		margin:5% 0%;

	}

	.bottom{
		height:32vh;
		background:#000;
	}
	.society{
		width:35%;
	}
	.social{
		text-align: center;
		margin-top:1.5%;
	}
	.bottom .social p{
		text-align:center;
		padding-bottom:2%;
	}
	.social a{
		text-align: center;
	}

	.bottom p{
		margin-top: 2%;
		font-size:75%;

	}
	.head h1{
		padding-top:20px;
	}
	.head p{
		margin-top:2%;
		margin-bottom:15%;
	}
}

@media screen and (max-width:375px){
	.main{
		height:180vh;
	}
	.moto{
		font-size: 105%;
		margin-bottom:5%;
	}
	.logo img{
		width:55%;
		margin-top: 10%;
	}
	#tab:hover{
		transform: none;
	}
	
	.top-bar{
		text-align:center;
		height:23vh;
	}

	.head{
		text-align:center;
		height:15vh;
		margin-top:0px;
	}	

	.head h1{
		font-size:215%;
		padding-top:30px;
	}
	.head p{
		margin-top:2%;
		color:white;
		font-size: 125%;
	}
	.content{
		height: 105vh;
	}

	model-viewer{
		margin-bottom:2%;
		width: 80%;
		height:35%;
		margin-left:11%;
		text-align:center;
	}
	.content h1{
		font-size:125%;
		margin:10% 0%;

	}
	.bottom{
		height:32vh;
		background:#000;
	}
	.society{
		width:45%;
	}
	.social{
		text-align: center;
		margin-top:1.5%;
	}
	.bottom .social p{
		text-align:center;
		padding-bottom:2%;
	}
	.social a{
		text-align: center;
	}

	.bottom p{
		margin-top: 2%;
		font-size:75%;

	}	
	.links{
		font-size:105%;
		height:35vh;
		top:-35vh;
	}
}

@media screen and (max-width:411px){
	.links{
		font-size:135%;
		height:45vh;
		top:-45vh;
	}
	.head{
		height:20vh;
	}	
}


@media screen and (max-width:375px) and (max-height:667px){
	.links{
		font-size:115%;
		height:44vh;
		top:-44vh;
	}
	.head{
		height:20vh;
	}	
}


@media screen and (max-width:360px) and (max-height:640px){
	
	.links{
		font-size: 110%;
		height:45vh;
		top:-45vh;
	}
}

@media screen and (max-width:320px){
	model-viewer{
		margin-left:7.5%;
		margin-bottom:2%;
		width: 85%;
		height:40%;
	}
	#tab:hover{
		transform: none;
	}
	.head {
		margin-top:0px;
		height:18vh;
	}
	.content h1{
		font-size:110%;
		margin:5% 0%;

	}
	.main{
		height:160vh;
	}
	.content{
		height: 105vh;
	}
	.head h1{
		padding-top:2px;
	}
	.links{
		font-size:110%;
		height:45vh;
		top:-45vh;
	}

}


@media screen and (max-width:320px) and (max-height:568px){
	.links{
		font-size:95%;
		height:46vh;
		top:-46vh;
	}
	.logo img{
		width:52%;
	}
	.top-bar{
		height:25vh;
	}
	.moto{
		font-size: 85%;
	}
	.main{
		height:215vh;
	}
	.head{
		margin-top:10px;
		height:25vh;
	}
	.content{
		height: 130vh;
	}
	.bottom{
		height: 40vh;
	}


}
