*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.main{
	height: 170vh;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url('../Image/space1.jpeg');
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	position: relative;
}

.top-bar{
	display:flex;
	padding:30px 0px;
}

.logo img{
	margin-left:60px;
	width:330px;
	margin-right: 930px;
}
.moto{
	font-family: Prestige Elite Std;
	color:white;
	padding-left: 77px;
	color:rgba(255,255,255,0.7);
	font-size: 20px;
}

.links{
	margin-top:55px;
}

.links nav ul{
	display: inline;
}
.links nav ul li{
	list-style:none;
	display: inline-flex;
	padding:8px 8px;
}

.links nav ul li a{
	text-decoration: none;
	font-family:Tw Cen MT;
	color:rgba(250,252,254,0.9);
	font-size:25px;
	padding:15px 35px;
	position: relative;
	transition: 1s;
}
#tab:hover{
	border:1px solid;
	border-color:rgba(255,255,255,0.6);
	border-top:rgba(255,255,255,0);
	border-left:rgba(255,255,255,0.5);
	border-right:rgba(255,255,255,0.5);
	transition: .4s;
	background-color: rgba(255,255,255,0.1);
	transform: scale(1.1);
}
.active{
	font-weight: bold;
	margin-right: 15px;
	transform:scale(1);
}


.head{
	text-align: center;
	color:rgba(255,255,255,1);
	height:20vh;
}

.head h1{
	font-family: Candara;
	font-size:50pt;
	text-transform: uppercase;
}
.head h1 span{
	color:rgba(0,0,0,0.9);
}

.head p{
	margin-top:2px;
	background:rgba(255,255,255,0.2);
	font-family: Orator Std;
	color:rgb(0,0,0);
	font-size:35px;
	font-weight: bold;
}

.content{
	height: 150vh;
	text-align:center;
}

model-viewer{
	width: 1900px;
	height:800px;	
}

.bottom{
	height:35vh;
	background-color:rgba(0,0,0,1);
}


.society{
	margin-top:5vh; 
	width:350px;
}
.social{
	color:white;
	font-family:Century Gothic;
	text-align: center;
	margin-top:35px;
}
.bottom .social p{
	text-align:center;
	padding-bottom:5px;
	font-weight: bold;
	font-size: 25px;
}
.bottom .social i{
	border:1px solid;
	border-radius:45px;
	padding:12px 13px;
}
.social a{
	text-align: center;
	color: white;
	text-decoration:none;
	padding-right: 8px;
	font-family: 25px;
	font-size: 25px;
}

.social a i:hover{
	background-color:white;
	color:black;
}

.bottom p{
	font-family:Arial;
	color:white;
	text-align: center;
	margin-top: 15px;
	font-size:18px;

}



@media	screen and (max-width:1600px){
	.head{
		width:100%;
	}
	.bottom{
		width:100%;
	}
	.links nav ul li{
		padding:8px 6px;
	}
	.logo img{
		margin-right: 360px;
	}
	.album{
		height:155vh;
	}
	.album img{
		width:40%;
	}


}
